<div class="side-form" style="background-color: #fafafa;">
  <div class="jumbotron jumbotron-fluid" style="padding: 2rem 1rem; background-color: rgba(26, 166, 198, 0.07);">
    <div class="container">
      <blockquote class="blockquote text-center">
        <p class="mb-0">Перевод казахского языка на латиницу - это шаг к интеграции в глобальную систему науки и образования, обеспечения нашего духовного единства.</p>
        <footer class="blockquote-footer">Нұрсұлтан Назарбаев</footer>
      </blockquote>
    </div>
  </div>

  <div class="container" style="padding-bottom: 60px;">

    <div class="row">
      <div class="col">
        <h1 class="display-4 uppercase text-center">Жаңа әліппе</h1>
      </div>
    </div>

    <div class="row text-center">
      <h4 style="width: 100%; padding-top: 40px; padding-bottom: 40px;">2025-ші жылға дейін қазақ тілі латын әліппесіне көшеді. Төменірек қолдануға ұсынылған әліппенің бір нұсқасы:</h4>

      <table class="table table-sm" style="max-width: 500px; margin: 0 auto;">
        <tbody>
        <tr>
          <td><b>А</b></td>
          <td>A</td>
          <td><b>Қ</b></td>
          <td>Q</td>
          <td><b>Ф</b></td>
          <td>F</td>
        </tr>
        <tr>
          <td><b>Ә</b></td>
          <td>Ae</td>
          <td><b>Л</b></td>
          <td>L</td>
          <td><b>Х</b></td>
          <td>H</td>
        </tr>
        <tr>
          <td><b>Б</b></td>
          <td>B</td>
          <td><b>М</b></td>
          <td>M</td>
          <td><b>h</b></td>
          <td>h</td>
        </tr>
        <tr>
          <td><b>В</b></td>
          <td>V</td>
          <td><b>Н</b></td>
          <td>N</td>
          <td><mark><b>Ц</b></mark></td>
          <td>Ts</td>
        </tr>
        <tr>
          <td><b>Г</b></td>
          <td>G</td>
          <td><b>ң</b></td>
          <td>ng</td>
          <td><b>Ч</b></td>
          <td>Ch</td>
        </tr>
        <tr>
          <td><b>Ғ</b></td>
          <td>Gh</td>
          <td><b>О</b></td>
          <td>O</td>
          <td><b>Ш</b></td>
          <td>Sh</td>
        </tr>
        <tr>
          <td><b>Д</b></td>
          <td>D</td>
          <td><b>Ө</b></td>
          <td>Oe</td>
          <td><mark><b>Щ</b></mark></td>
          <td>Sh</td>
        </tr>
        <tr>
        <tr>
          <td><b>Е</b></td>
          <td>E</td>
          <td><b>П</b></td>
          <td>P</td>
          <td><mark><b>ь</b></mark></td>
          <td></td>
        </tr>
        <tr>
        <tr>
          <td><mark><b>Ё</b></mark></td>
          <td>Io</td>
          <td><b>Р</b></td>
          <td>R</td>
          <td><b>Ы</b></td>
          <td>Y</td>
        </tr>
        <tr>
          <td><b>Ж</b></td>
          <td>Zh</td>
          <td><b>С</b></td>
          <td>C</td>
          <td><b>I</b></td>
          <td>I</td>
        </tr>
        <tr>
          <td><b>З</b></td>
          <td>Z</td>
          <td><b>Т</b></td>
          <td>T</td>
          <td><mark><b>ъ</b></mark></td>
          <td></td>
        </tr>
        <tr>
          <td><b>И</b></td>
          <td>I</td>
          <td><b>У</b></td>
          <td>W</td>
          <td><mark><b>Э</b></mark></td>
          <td>E</td>
        </tr>
        <tr>
          <td><b>Й</b></td>
          <td>J</td>
          <td><b>Ұ</b></td>
          <td>U</td>
          <td><mark><b>Ю</b></mark></td>
          <td>Iw</td>
        </tr>
        <tr>
          <td><b>К</b></td>
          <td>K</td>
          <td><b>Ү</b></td>
          <td>Ue</td>
          <td><mark><b>Я</b></mark></td>
          <td>Ia</td>
        </tr>
        </tbody>
      </table>

    </div>

    <div class="row text-center">
      <h4 style="width: 100%; padding-top: 40px; padding-bottom: 40px;">Ал мынау Әнұранымыздың жаңа әріптермен жазылған нұсқасы:</h4>

      <div class="col">
        <ul class="list-unstyled">
          <li>Сөзін жазғандар: <strong>Жұмекен Нәжімеденов, Нұрсұлтан Назарбаев</strong></li>
          <li>Әнін жазған: <strong>Шәмші Қалдаяқов</strong></li>
          <br>
          <li>Алтын күн аспаны,</li>
          <li>Алтын дән даласы,</li>
          <li>Ерліктің дастаны,</li>
          <li>Еліме қарашы!</li>
          <li>Ежелден ер деген,</li>
          <li>Даңқымыз шықты ғой.</li>
          <li>Намысын бермеген,</li>
          <li>Қазағым мықты ғой!</li>
          <br>
          <li>Қайырмасы:</li>
          <br>
          <li>Менің елім, менің елім,</li>
          <li>Гүлің болып егілемін,</li>
          <li>Жырың болып төгілемін, елім!</li>
          <li>Туған жерім менің - Қазақстаным!</li>
          <br>
          <li>Ұрпаққа жол ашқан,</li>
          <li>Кең байтақ жерім бар.</li>
          <li>Бірлігі жарасқан,</li>
          <li>Тәуелсіз елім бар.</li>
          <li>Қарсы алған уақытты,</li>
          <li>Мәңгілік досындай,</li>
          <li>Біздің ел бақытты,</li>
          <li>Біздің ел осындай!</li>
          <br>
          <li>Қайырмасы:</li>
          <br>
          <li>Менің елім, менің елім,</li>
          <li>Гүлің болып егілемін,</li>
          <li>Жырың болып төгілемін, елім!</li>
          <li>Туған жерім менің - Қазақстаным!</li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-unstyled">
          <li>Soezin zhazghandar: <strong>Zhumeken Naezhimedenov, Nursultan Nazarbaev</strong></li>
          <li>Aenin zhazghan: <strong>Shaemshi Qaldaiaqov</strong></li>
          <br>
          <li>Altyn kuen aspany,</li>
          <li>Altyn daen dalasy,</li>
          <li>Erlikting dastany,</li>
          <li>Elime qarashy!</li>
          <li>Ezhelden er degen,</li>
          <li>Dangqymyz shyqty ghoj.</li>
          <li>Namysyn bermegen,</li>
          <li>Qazaghym myqty ghoj!</li>
          <br>
          <li>Qajyrmasy:</li>
          <br>
          <li>Mening elim, mening elim,</li>
          <li>Gueling bolyp egilemin,</li>
          <li>Zhyryng bolyp toegilemin, elim!</li>
          <li>Twghan zherim mening - Qazaqstanym!</li>
          <br>
          <li>Urpaqqa zhol ashqan,</li>
          <li>Keng bajtaq zherim bar.</li>
          <li>Birligi zharasqan,</li>
          <li>Taewelsiz elim bar.</li>
          <li>Qarsy alghan waqytty,</li>
          <li>Maenggilik dosyndaj,</li>
          <li>Bizding el baqytty,</li>
          <li>Bizding el osyndaj!</li>
          <br>
          <li>Qajyrmasy:</li>
          <br>
          <li>Mening elim, mening elim,</li>
          <li>Gueling bolyp egilemin,</li>
          <li>Zhyryng bolyp toegilemin, elim!</li>
          <li>Twghan zherim mening - Qazaqstanym!</li>
        </ul>
      </div>
    </div>

    <div class="row text-center">

    </div>

    <div [@flyUpAnimation]="state" (@flyUpAnimation.done)="done()" class="close-btn-container rounded-circle">
      <a (click)="close()" class="close-btn">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
              <path fill="white" stroke="none" d="M14.6,27l5.4-5.4l5.4,5.4l1.6-1.6L21.6,20l5.4-5.4L25.4,13L20,18.4L14.6,13L13,14.6l5.4,5.4L13,25.4L14.6,27z"></path>
              </svg>
      </a>
    </div>

  </div>
</div>


