<div class="side-form" style="background-color: #fafafa;">

  <!--SECTION HERO-->
  <section class="hero" id="top">
    <h1 translate>ABOUT.NEW_ALPHABET</h1>
    <h2 translate>ABOUT.NEW_ALPHABET_SPAN_1 <span translate>ABOUT.NEW_ALPHABET_SPAN_2</span> ABOUT.NEW_ALPHABET_SPAN_3</h2>
    <p>
      <!--(click)="scrollToHref('#quotes', null)"-->
      <a href="http://www.akorda.kz/ru/legal_acts/decrees/o-perevode-alfavita-kazahskogo-yazyka-s-kirillicy-na-latinskuyu-grafiku"
         class="btn button large blue" target="_blank"
         translate>ABOUT.READ_MORE</a>
    </p>
  </section>

    <!--SECTION QUOTES-->
    <section id="quotes" class="quotes block">
      <article>
        <blockquote>
          <p translate>ABOUT.QUOTE_1.TEXT</p>
          <footer>
            <cite translate>ABOUT.QUOTE_1.AUTHOR</cite>
          </footer>
        </blockquote>
      </article>

      <article>
        <blockquote>
          <p translate>ABOUT.QUOTE_2.TEXT</p>
          <footer>
            <cite translate>ABOUT.QUOTE_2.AUTHOR</cite>
          </footer>
        </blockquote>
      </article>


      <article>
        <blockquote>
          <p translate>ABOUT.QUOTE_3.TEXT</p>
          <footer>
            <cite translate>ABOUT.QUOTE_3.AUTHOR</cite>
          </footer>
        </blockquote>
      </article>
      <article>
        <blockquote>
          <p translate>ABOUT.QUOTE_4.TEXT</p>
          <footer>
            <cite translate>ABOUT.QUOTE_4.AUTHOR</cite>
          </footer>
        </blockquote>
      </article>
      <article>
        <blockquote>
          <p translate>ABOUT.QUOTE_5.TEXT</p>
          <footer>
            <cite translate>ABOUT.QUOTE_5.AUTHOR</cite>
          </footer>
        </blockquote>
      </article>
      <article>
        <blockquote>
          <p translate>ABOUT.QUOTE_6.TEXT</p>
          <footer>
            <cite translate>ABOUT.QUOTE_6.AUTHOR</cite>
          </footer>
        </blockquote>
      </article>
    </section>



  <section class="welcome-home block">
    <h1 translate>ABOUT.SUGGESTED_ALPHABET</h1>
    <p translate>ABOUT.SUGGESTED_ALPHABET_P</p>
    <table class="table table-sm" style="max-width: 500px; margin: 0 auto; font-size: 20px;">
      <tbody>
      <tr>
        <td><b>А</b></td>
        <td>A</td>
        <td><b>Қ</b></td>
        <td>Q</td>
        <td><b>Ф</b></td>
        <td>F</td>
      </tr>
      <tr>
        <td><b>Ә</b></td>
        <td>Á</td>
        <td><b>Л</b></td>
        <td>L</td>
        <td><b>Х</b></td>
        <td>H</td>
      </tr>
      <tr>
        <td><b>Б</b></td>
        <td>B</td>
        <td><b>М</b></td>
        <td>M</td>
        <td><b>h</b></td>
        <td>h</td>
      </tr>
      <tr>
        <td><b>В</b></td>
        <td>V</td>
        <td><b>Н</b></td>
        <td>N</td>
        <td><mark><b>Ц</b></mark></td>
        <td>Ts</td>
      </tr>
      <tr>
        <td><b>Г</b></td>
        <td>G</td>
        <td><b>ң</b></td>
        <td>ń</td>
        <td><b>Ч</b></td>
        <td>Ć</td>
      </tr>
      <tr>
        <td><b>Ғ</b></td>
        <td>Ǵ</td>
        <td><b>О</b></td>
        <td>O</td>
        <td><b>Ш</b></td>
        <td>Ś</td>
      </tr>
      <tr>
        <td><b>Д</b></td>
        <td>D</td>
        <td><b>Ө</b></td>
        <td>Ó</td>
        <td><mark><b>Щ</b></mark></td>
        <td>Ś</td>
      </tr>
      <tr>
      <tr>
        <td><b>Е</b></td>
        <td>E</td>
        <td><b>П</b></td>
        <td>P</td>
        <td><mark><b>ь</b></mark></td>
        <td></td>
      </tr>
      <tr>
      <tr>
        <td><mark><b>Ё</b></mark></td>
        <td>Io</td>
        <td><b>Р</b></td>
        <td>R</td>
        <td><b>Ы</b></td>
        <td>Y</td>
      </tr>
      <tr>
        <td><b>Ж</b></td>
        <td>J</td>
        <td><b>С</b></td>
        <td>S</td>
        <td><b>I</b></td>
        <td>I</td>
      </tr>
      <tr>
        <td><b>З</b></td>
        <td>Z</td>
        <td><b>Т</b></td>
        <td>T</td>
        <td><mark><b>ъ</b></mark></td>
        <td></td>
      </tr>
      <tr>
        <td><b>И</b></td>
        <td>Í</td>
        <td><b>У</b></td>
        <td>Ý</td>
        <td><mark><b>Э</b></mark></td>
        <td>E</td>
      </tr>
      <tr>
        <td><b>Й</b></td>
        <td>Í</td>
        <td><b>Ұ</b></td>
        <td>U</td>
        <td><mark><b>Ю</b></mark></td>
        <td>Iý</td>
      </tr>
      <tr>
        <td><b>К</b></td>
        <td>K</td>
        <td><b>Ү</b></td>
        <td>Ú</td>
        <td><mark><b>Я</b></mark></td>
        <td>Ia</td>
      </tr>
      </tbody>
    </table>

    <p><small translate>ABOUT.NOT_APPROVED</small></p>
  </section>

  <!--FOOTER-->

  <footer class="footer">
    <h1 class="text-center" style="padding-top: 96px;" translate>ABOUT.ANTHEM_WITH_NEW_LETTERS</h1>
    <div class="wrapper block" style="padding: 48px 14px;">
      <ul>
        <li>So'zin jazg'andar: Jumeken Na'jimedenov, Nursultan Nazarbaev</li>
        <li>A'nin jazg'an: S'a'ms'i Qaldaiaqov</li>

        <li>Altyn ku'n aspany,</li>
        <li>Altyn da'n dalasy,</li>
        <li>Erliktin' dastany,</li>
        <li>Elime qaras'y!</li>
        <li>Ejelden er degen,</li>
        <li>Dan'qymyz s'yqty g'oi'.</li>
        <li>Namysyn bermegen,</li>
        <li>Qazag'ym myqty g'oi'!</li>
        <br>
        <li>Qai'yrmasy:</li>
        <br>
        <li>Menin' elim, menin' elim,</li>
        <li>Gu'lin' bolyp egilemin,</li>
        <li>Jyryn' bolyp to'gilemin, elim!</li>
        <li>Ty'g'an jerim menin' - Qazaqstanym!</li>
        <br>
        <li>Urpaqqa jol as'qan,</li>
        <li>Ken' bai'taq jerim bar.</li>
        <li>Birligi jarasqan,</li>
        <li>Ta'y'elsiz elim bar.</li>
        <li>Qarsy alg'an y'aqytty,</li>
        <li>Ma'n'gilik dosyndai',</li>
        <li>Bizdin' el baqytty,</li>
        <li>Bizdin' el osyndai'!</li>
        <br>
        <li>Qai'yrmasy:</li>
        <br>
        <li>Menin' elim, menin' elim,</li>
        <li>Gu'lin' bolyp egilemin,</li>
        <li>Jyryn' bolyp to'gilemin, elim!</li>
        <li>Ty'g'an jerim menin' - Qazaqstanym!</li>
      </ul>
    </div>
    <div class="footer-label">© 2017 aelippe.kz</div>
  </footer>


  <div [@flyUpAnimation]="state" class="close-btn-container rounded-circle">
    <a (click)="close($event)" class="close-btn">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
            <path fill="white" stroke="none" d="M14.6,27l5.4-5.4l5.4,5.4l1.6-1.6L21.6,20l5.4-5.4L25.4,13L20,18.4L14.6,13L13,14.6l5.4,5.4L13,25.4L14.6,27z"></path>
            </svg>
    </a>
  </div>

</div>


