<div class="side-form" style="background-color: #fafafa;">

  <!--SECTION HERO-->
  <section class="hero" id="top">
    <h1 translate>ABOUT.NEW_ALPHABET</h1>
    <h2 translate>ABOUT.NEW_ALPHABET_SPAN_1 <span translate>ABOUT.NEW_ALPHABET_SPAN_2</span> ABOUT.NEW_ALPHABET_SPAN_3</h2>
    <p>
      <!--(click)="scrollToHref('#quotes', null)"-->
      <a href="http://www.akorda.kz/kz/events/akorda_news/press_conferences/memleket-basshysynyn-bolashakka-bagdar-ruhani-zhangyru-atty-makalasy"
         class="btn button large" target="_blank"
         translate>ABOUT.READ_MORE</a>
    </p>
  </section>

    <!--SECTION QUOTES-->
    <section id="quotes" class="quotes block">
      <article>
        <blockquote>
          <p translate>ABOUT.QUOTE_1.TEXT</p>
          <footer>
            <cite translate>ABOUT.QUOTE_1.AUTHOR</cite>
          </footer>
        </blockquote>
      </article>

      <article>
        <blockquote>
          <p translate>ABOUT.QUOTE_2.TEXT</p>
          <footer>
            <cite translate>ABOUT.QUOTE_2.AUTHOR</cite>
          </footer>
        </blockquote>
      </article>


      <article>
        <blockquote>
          <p translate>ABOUT.QUOTE_3.TEXT</p>
          <footer>
            <cite translate>ABOUT.QUOTE_3.AUTHOR</cite>
          </footer>
        </blockquote>
      </article>
      <article>
        <blockquote>
          <p translate>ABOUT.QUOTE_4.TEXT</p>
          <footer>
            <cite translate>ABOUT.QUOTE_4.AUTHOR</cite>
          </footer>
        </blockquote>
      </article>
      <article>
        <blockquote>
          <p translate>ABOUT.QUOTE_5.TEXT</p>
          <footer>
            <cite translate>ABOUT.QUOTE_5.AUTHOR</cite>
          </footer>
        </blockquote>
      </article>
      <article>
        <blockquote>
          <p translate>ABOUT.QUOTE_6.TEXT</p>
          <footer>
            <cite translate>ABOUT.QUOTE_6.AUTHOR</cite>
          </footer>
        </blockquote>
      </article>
    </section>



  <section class="welcome-home block">
    <h1 translate>ABOUT.SUGGESTED_ALPHABET</h1>
    <p translate>ABOUT.SUGGESTED_ALPHABET_P</p>
    <table class="table table-sm" style="max-width: 500px; margin: 0 auto; font-size: 20px;">
      <tbody>
      <tr>
        <td><b>А</b></td>
        <td>A</td>
        <td><b>Қ</b></td>
        <td>Q</td>
        <td><b>Ф</b></td>
        <td>F</td>
      </tr>
      <tr>
        <td><b>Ә</b></td>
        <td>Ae</td>
        <td><b>Л</b></td>
        <td>L</td>
        <td><b>Х</b></td>
        <td>H</td>
      </tr>
      <tr>
        <td><b>Б</b></td>
        <td>B</td>
        <td><b>М</b></td>
        <td>M</td>
        <td><b>h</b></td>
        <td>h</td>
      </tr>
      <tr>
        <td><b>В</b></td>
        <td>V</td>
        <td><b>Н</b></td>
        <td>N</td>
        <td><mark><b>Ц</b></mark></td>
        <td>Ts</td>
      </tr>
      <tr>
        <td><b>Г</b></td>
        <td>G</td>
        <td><b>ң</b></td>
        <td>ng</td>
        <td><b>Ч</b></td>
        <td>Ch</td>
      </tr>
      <tr>
        <td><b>Ғ</b></td>
        <td>Gh</td>
        <td><b>О</b></td>
        <td>O</td>
        <td><b>Ш</b></td>
        <td>Sh</td>
      </tr>
      <tr>
        <td><b>Д</b></td>
        <td>D</td>
        <td><b>Ө</b></td>
        <td>Oe</td>
        <td><mark><b>Щ</b></mark></td>
        <td>Sh</td>
      </tr>
      <tr>
      <tr>
        <td><b>Е</b></td>
        <td>E</td>
        <td><b>П</b></td>
        <td>P</td>
        <td><mark><b>ь</b></mark></td>
        <td></td>
      </tr>
      <tr>
      <tr>
        <td><mark><b>Ё</b></mark></td>
        <td>Io</td>
        <td><b>Р</b></td>
        <td>R</td>
        <td><b>Ы</b></td>
        <td>Y</td>
      </tr>
      <tr>
        <td><b>Ж</b></td>
        <td>Zh</td>
        <td><b>С</b></td>
        <td>C</td>
        <td><b>I</b></td>
        <td>I</td>
      </tr>
      <tr>
        <td><b>З</b></td>
        <td>Z</td>
        <td><b>Т</b></td>
        <td>T</td>
        <td><mark><b>ъ</b></mark></td>
        <td></td>
      </tr>
      <tr>
        <td><b>И</b></td>
        <td>I</td>
        <td><b>У</b></td>
        <td>W</td>
        <td><mark><b>Э</b></mark></td>
        <td>E</td>
      </tr>
      <tr>
        <td><b>Й</b></td>
        <td>J</td>
        <td><b>Ұ</b></td>
        <td>U</td>
        <td><mark><b>Ю</b></mark></td>
        <td>Iw</td>
      </tr>
      <tr>
        <td><b>К</b></td>
        <td>K</td>
        <td><b>Ү</b></td>
        <td>Ue</td>
        <td><mark><b>Я</b></mark></td>
        <td>Ia</td>
      </tr>
      </tbody>
    </table>

    <p><small translate>ABOUT.NOT_APPROVED</small></p>
  </section>

  <!--FOOTER-->

  <footer class="footer">
    <h1 class="text-center" style="padding-top: 96px;" translate>ABOUT.ANTHEM_WITH_NEW_LETTERS</h1>
    <div class="wrapper block">
      <ul>
        <li>Soezin zhazghandar: Zhumeken Naezhimedenov, Nursultan Nazarbaev</li>
        <li>Aenin zhazghan: Shaemshi Qaldaiaqov</li>
      </ul>
      <ul>
        <li>Altyn kuen aspany,</li>
        <li>Altyn daen dalasy,</li>
        <li>Erlikting dastany,</li>
        <li>Elime qarashy!</li>
        <li>Ezhelden er degen,</li>
        <li>Dangqymyz shyqty ghoj.</li>
        <li>Namysyn bermegen,</li>
        <li>Qazaghym myqty ghoj!</li>
        <br>
        <li>Qajyrmasy:</li>
        <br>
        <li>Mening elim, mening elim,</li>
        <li>Gueling bolyp egilemin,</li>
        <li>Zhyryng bolyp toegilemin, elim!</li>
        <li>Twghan zherim mening - Qazaqstanym!</li>
        <br>
        <li>Urpaqqa zhol ashqan,</li>
        <li>Keng bajtaq zherim bar.</li>
        <li>Birligi zharasqan,</li>
        <li>Taewelsiz elim bar.</li>
        <li>Qarsy alghan waqytty,</li>
        <li>Maenggilik dosyndaj,</li>
        <li>Bizding el baqytty,</li>
        <li>Bizding el osyndaj!</li>
        <br>
        <li>Qajyrmasy:</li>
        <br>
        <li>Mening elim, mening elim,</li>
        <li>Gueling bolyp egilemin,</li>
        <li>Zhyryng bolyp toegilemin, elim!</li>
        <li>Twghan zherim mening - Qazaqstanym!</li>
      </ul>
    </div>
    <div class="footer-label">© 2017 aelippe.kz</div>
  </footer>


  <div [@flyUpAnimation]="state" class="close-btn-container rounded-circle">
    <a (click)="close($event)" class="close-btn">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
            <path fill="white" stroke="none" d="M14.6,27l5.4-5.4l5.4,5.4l1.6-1.6L21.6,20l5.4-5.4L25.4,13L20,18.4L14.6,13L13,14.6l5.4,5.4L13,25.4L14.6,27z"></path>
            </svg>
    </a>
  </div>

</div>


