<div class="container">

  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link btn btn-light" href="#" (click)="modal.open()">Жаңа әліппе</a>
        </li>
      </ul>
    </nav>
    <h3 class="header-text">Аудармашы</h3>
  </div>

  <div class="row">
    <div class="col-sm-6">

      <div class="textarea-container" [ngClass]="{'active': focused}">

        <div class="textarea-top">
          <i class="icon-delete-o control" (click)="inputBox.value = ''; clear();"></i>
          <span class="text-uppercase float-right  alphabet-name">Кириллица</span>
        </div>

        <textarea name="input" maxlength="5000"
                  wrap="soft" placeholder="Мәтін енгізіңіз..."
                  #inputBox
                  [(ngModel)] = "inputModel" (ngModelChange)="onTextChanged(inputBox.value)"
                  [ngClass] = "{'smFont': inputBox.value.length > 150}"
                  (focus)="onFocus()"
                  (blur)="onBlur()"
        ></textarea>

        <div class="textarea-bottom">
          {{inputBox.value.length + " / " + MAX_LENGTH}}
        </div>

      </div>

    </div>

    <div class="col-sm-6">

      <div class="textarea-container">

        <div class="textarea-top">
          <i class="icon-copy float-right control"
             ngxClipboard [cbContent]="translation | async" (cbOnSuccess)="outputBox.select()"></i>
          <span class="text-uppercase alphabet-name">Latyn</span>
        </div>

        <textarea name="input" readonly
                  wrap="soft"
                  #outputBox
                  [ngClass] = "{'smFont': inputBox.value.length > 150}"
                  [value]="translation | async"
        ></textarea>

      </div>

    </div>
  </div>

  <div class="row footer">
    <div class="col text-muted text-center">
      &copy; 2017 Elnar N.
    </div>
  </div>
</div>

<modal #modal>
  <modal-body class="text-center">
    <h4 class="modal-header-text">Жаңа әліппе</h4>
    <table class="table table-sm">
      <tbody>
      <tr>
        <td><b>А</b></td>
        <td>A</td>
        <td><b>Қ</b></td>
        <td>Q</td>
        <td><b>Ф</b></td>
        <td>F</td>
      </tr>
      <tr>
        <td><b>Ә</b></td>
        <td>Ae</td>
        <td><b>Л</b></td>
        <td>L</td>
        <td><b>Х</b></td>
        <td>H</td>
      </tr>
      <tr>
        <td><b>Б</b></td>
        <td>B</td>
        <td><b>М</b></td>
        <td>M</td>
        <td><b>h</b></td>
        <td>h</td>
      </tr>
      <tr>
        <td><b>В</b></td>
        <td>V</td>
        <td><b>Н</b></td>
        <td>N</td>
        <td><mark><b>Ц</b></mark></td>
        <td>Ts</td>
      </tr>
      <tr>
        <td><b>Г</b></td>
        <td>G</td>
        <td><b>ң</b></td>
        <td>ng</td>
        <td><b>Ч</b></td>
        <td>Ch</td>
      </tr>
      <tr>
        <td><b>Ғ</b></td>
        <td>Gh</td>
        <td><b>О</b></td>
        <td>O</td>
        <td><b>Ш</b></td>
        <td>Sh</td>
      </tr>
      <tr>
        <td><b>Д</b></td>
        <td>D</td>
        <td><b>Ө</b></td>
        <td>Oe</td>
        <td><mark><b>Щ</b></mark></td>
        <td>Sh</td>
      </tr>
      <tr>
      <tr>
        <td><b>Е</b></td>
        <td>E</td>
        <td><b>П</b></td>
        <td>P</td>
        <td><mark><b>ь</b></mark></td>
        <td></td>
      </tr>
      <tr>
      <tr>
        <td><mark><b>Ё</b></mark></td>
        <td>Io</td>
        <td><b>Р</b></td>
        <td>R</td>
        <td><b>Ы</b></td>
        <td>Y</td>
      </tr>
      <tr>
        <td><b>Ж</b></td>
        <td>Zh</td>
        <td><b>С</b></td>
        <td>C</td>
        <td><b>I</b></td>
        <td>I</td>
      </tr>
      <tr>
        <td><b>З</b></td>
        <td>Z</td>
        <td><b>Т</b></td>
        <td>T</td>
        <td><mark><b>ъ</b></mark></td>
        <td></td>
      </tr>
      <tr>
        <td><b>И</b></td>
        <td>I</td>
        <td><b>У</b></td>
        <td>W</td>
        <td><mark><b>Э</b></mark></td>
        <td>E</td>
      </tr>
      <tr>
        <td><b>Й</b></td>
        <td>J</td>
        <td><b>Ұ</b></td>
        <td>U</td>
        <td><mark><b>Ю</b></mark></td>
        <td>Iw</td>
      </tr>
      <tr>
        <td><b>К</b></td>
        <td>K</td>
        <td><b>Ү</b></td>
        <td>Ue</td>
        <td><mark><b>Я</b></mark></td>
        <td>Ia</td>
      </tr>
      </tbody>
    </table>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.dismiss()">Түсінікті</button>
  </modal-footer>
</modal>
