@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

button {
  cursor: pointer;
}

.view-side-form {
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 99%;
  overflow: auto;
  background: #fff;
  padding: 20px;
  border-top: 1px solid #e0e0e0;
}

.side-form {
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 99%;
  overflow: auto;
  background: #fff;
  padding: 20px;
  border-top: 1px solid #e0e0e0;
}
