@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

button {
  cursor: pointer;
}

/*NAVIGATION*/

ul.nav h1 a {
  display: block;
  height: 40px;
  width: 157px;
  margin-right: 9px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  /*background: url(../images/abstract-logo.svg) no-repeat left center;*/
  background-size: auto 40px;
}

ul.nav {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.36px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
}

ul.nav li {
  margin-left: 24px;
}

ul.nav li a {
  text-decoration: none;
  position: relative;
}

ul.nav li a:not(.button):before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -6px;
  left: 0;
  height: 6px;
}

ul.nav li a:hover:before, ul.nav li a:focus:before {
  background-color: rgba(0, 0, 0, 0.1);
}

ul.nav ul li a:active {
  position: relative;
  top: 1px;
}

/*NAVIGATION*/

.button {
  background-color: #2E2F30;
  color: #fff;
}

.button:hover {
  background-color: #157FF3;
  color: #fff;
}

.fb-share-button {
  background-color: #3b5998;
  color: #fff;
}

.fb-share-button:hover {
  background-color: #2d4373;
  color: #fff;
}

.twitter-share-button {
  background-color: #55acee;
  color: #fff;
}

.twitter-share-button:hover {
  background-color: #2795e9;
  color: #fff;
}

.vk-share-button {
  background-color: #587ea3;
  color: #fff;
}

.vk-share-button:hover {
  background-color: #466482;
  color: #fff;
}

.block {
  margin: 0 auto;
  max-width: 1280px;
  padding: 48px 64px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.quotes {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  max-width: none !important;
  background: linear-gradient(90deg, #4949A3, #7272E9, #57ECFA); margin-top: 40px;
}

.quotes article {
  width: 420px;
  max-width: 90vw;
  /*margin: 0 48px;*/
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  align-self: flex-start;
}

blockquote {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}

/*#5A5AE6*/
.quotes article blockquote p:before {
  content: "“";
  color: #A7F9E3;
  position: absolute;
  top: 0;
  left: -20px;
}

.quotes article blockquote p {
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.1px;
  font-family: "akzidenz-grotesk-next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  margin-bottom: 16px;
  position: relative;
}

/*5A5AE6*/
.quotes article blockquote p:after {
  content: " ”";
  color: #A7F9E3;
}

.quotes article blockquote footer {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: uppercase;
}

.quotes article blockquote footer cite {
  font-style: normal;
  color: #A7F9E3;
}

/*WELCOME*/

.welcome-home {
  max-width: 690px !important;
  text-align: center;
}

.welcome-home h1 {
  font-size: 33px;
  line-height: 38px;
  letter-spacing: 0.25px;
  font-family: "akzidenz-grotesk-next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 64px;
}

.welcome-home h1:after {
  content: "";
  width: 192px;
  height: 8px;
  background: #3792F4;
  border-radius: 2px;
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
}

.welcome-home p {
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.36px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 48px;
}

.welcome-home p small {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #5C5E5F;
  display: block;
  margin-top: 48px;
}

.button.large {
  min-width: 192px;
  padding: 8px 16px;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.36px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.button.blue {
  background-color: #157FF3 !important;
  color: #fff !important;
  padding: 16px !important;
}

.button.blue:hover, .button.blue:focus {
  background-color: #2E2F30 !important;
  box-shadow: none;
  color: #fff;
}


/*HERO*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(https://www.goabstract.com/images/hero-pattern.svg) no-repeat center center;
  height: 75vh;
  max-height: 840px;
  min-height: 640px;
  padding-bottom: 48px;
}
.hero h1 {
  font-size: 52px;
  line-height: 54px;
  letter-spacing: 1px;
  font-family: "akzidenz-grotesk-next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 48px;
  text-align: left;
}
.hero h1 span {
  display: block;
  position: relative;
}
.hero h2 {
  font-size: 33px;
  line-height: 38px;
  letter-spacing: 0.25px;
  font-family: "akzidenz-grotesk-next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 24px;
  position: relative;
}
.hero h2 span {
  display: block;
}
.hero h2:after {
  content: "";
  width: 192px;
  height: 12px;
  background: #3792F4;
  border-radius: 2px;
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
}

@media all and (min-width: 1280px) {
  .hero {
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 960px) {
  .hero {
    height: 50vh; } }
@media all and (max-width: 640px) {
  .hero {
    min-height: 600px;
  }
  .hero h1 {
    font-size: 41px;
    line-height: 49px;
    letter-spacing: 0.5px;
    font-family: "akzidenz-grotesk-next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
  .hero h2 {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.1px;
    font-family: "akzidenz-grotesk-next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}

/*FOOTER*/
.footer {
  background-color: #3D3E6F;
  color: #fff;
  position: relative;
}

.footer h1 {
  font-size: 33px;
  line-height: 38px;
  letter-spacing: 0.25px;
  font-family: "akzidenz-grotesk-next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 64px;
}

.footer h1:after {
  content: "";
  width: 192px;
  height: 8px;
  background: #3792F4;
  border-radius: 2px;
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
}

.footer .wrapper {
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.footer .wrapper {
  display: flex;
}

.footer .wrapper ul {
  line-height: 32px !important;
  margin-right: 64px;
}

.footer .wrapper ul li {
  position: relative;
  display: block;
  color: #fff;
}

.footer .wrapper ul {
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.36px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.footer .wrapper ul li {
  color: #B4B4F3;
}

.footer .footer-label {
  text-align: center;
}

.footer .footer-label {
  color: #DCB3F9;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 32px;
  margin-top: 8px;
}

@media all and (max-width: 640px) {
  .footer .footer-label {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
