@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

button {
  cursor: pointer;
}
