<div style="width: 100%;" [@fadeInAnimation]="getState()">

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a href="#" (click)="changeLanguage()" style="color: #2E2F30;">{{languages[curLang]}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link btn button text-uppercase"
               data-toggle="tooltip" data-placement="top" title="Tooltip on top"
               href="#"
               (click)="toggleState()"
               translate>HOME.ABOUT</a>
          </li>
        </ul>
      </nav>
      <h3 class="header-text"><b>Aelippe</b></h3>
    </div>

    <div class="row">
      <div class="col-sm-6">

        <div class="textarea-container" [ngClass]="{'active': focused}">

          <div class="textarea-top">
            <i class="icon-delete-o control" (click)="inputBox.value = ''; clear();"></i>
            <span class="text-uppercase float-right  alphabet-name" translate>HOME.CYRILLIC</span>
          </div>

          <textarea name="input" maxlength="5000"
                    wrap="soft" placeholder="Мәтін енгізіңіз..."
                    #inputBox
                    [(ngModel)] = "inputModel" (ngModelChange)="onTextChanged(inputBox.value)"
                    [ngClass] = "{'smFont': inputBox.value.length > 150}"
                    (focus)="onFocus()"
                    (blur)="onBlur()"
          ></textarea>

          <div class="textarea-bottom">
            {{inputBox.value.length + " / " + MAX_LENGTH}}
          </div>

        </div>

      </div>

      <div class="col-sm-6">

        <div class="textarea-container">

          <div class="textarea-top">
            <i class="icon-copy float-right control"
               ngxClipboard [cbContent]="translation | async" (cbOnSuccess)="outputBox.select()"></i>
            <span class="text-uppercase alphabet-name">Latyn</span>
          </div>

          <textarea name="input" readonly
                    wrap="soft"
                    #outputBox
                    [ngClass] = "{'smFont': inputBox.value.length > 150}"
                    [value]="translation | async"
          ></textarea>

        </div>

      </div>
    </div>
  </div>

  <!--SECTION HELLO-->
  <section class="welcome-home block">
    <h1 translate>HOME.ABOUT_US</h1>
    <p translate>HOME.ABOUT_US_P_1</p>
    <p translate>HOME.ABOUT_US_P_2</p>
    <p translate>HOME.ABOUT_US_P_3</p>
    <p translate>HOME.ABOUT_US_P_4</p>

    <a href="#" class="btn button large" translate>HOME.CONTACT_US</a>

    <p><small>© 2017 aelippe.kz</small></p>
  </section>

</div>




<app-about [@slideInOut]="state" [state]="state" (toogleState)="toggleState()"></app-about>
