<div style="width: 100%;" [@fadeInAnimation]="getState()">

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a href="#" (click)="changeLanguage()" style="color: #2E2F30;">{{languages[curLang]}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link btn button text-uppercase"
               href="#"
               (click)="toggleState()"
               translate>HOME.ABOUT</a>
          </li>
        </ul>
      </nav>
      <h3 class="header-text">
        <b class="align-middle">A'lippe</b>
      </h3>
    </div>

    <div class="row">
      <div class="col-sm-6">

        <div class="textarea-container" [ngClass]="{'active': focused}">

          <div class="textarea-top">
            <i class="icon-delete-o control"
               (click)="inputBox.value = ''; clear();"></i>
            <span class="text-uppercase float-right alphabet-name" style="padding-top: 7px;" translate>HOME.CYRILLIC</span>
          </div>

          <textarea name="input" maxlength="5000"
                    wrap="soft" placeholder="{{ 'HOME.ENTER_TEXT' | translate }}"
                    #inputBox
                    [(ngModel)] = "inputModel" (ngModelChange)="onTextChanged(inputBox.value)"
                    [ngClass] = "{'smFont': inputBox.value.length > 150}"
                    (focus)="onFocus()"
                    (blur)="onBlur()"
          ></textarea>

          <div class="textarea-bottom">
            {{inputBox.value.length + " / " + MAX_LENGTH}}
          </div>

        </div>

      </div>

      <div class="col-sm-6">

        <div class="textarea-container">

          <div class="textarea-top">
            <i class="icon-copy float-right control"
               ngxClipboard [cbContent]="translation | async" (cbOnSuccess)="outputBox.select(); copied();"></i>
            <span class="text-uppercase alphabet-name" translate>HOME.LATIN</span>
            <span [@fadeInAndOut]="isCopied"
                  class="alphabet-name text-lowercase"
                  style="padding-left: 5px;"
                  translate>HOME.COPIED</span>
          </div>

          <textarea name="input" readonly
                    wrap="soft"
                    #outputBox
                    [ngClass] = "{'smFont': inputBox.value.length > 150}"
                    [value]="translation | async"
          ></textarea>

        </div>

      </div>
    </div>

    <div style="padding-top: 30px; width: 100%;" class="text-center">
      <a class="fb-share-button btn btn-sm"
         href="https://www.facebook.com/sharer/sharer.php?u=http://aelippe.kz"
         target="_blank" >
        <i class="icon-facebook-square"></i> Share</a>

      <a class="vk-share-button btn btn-sm"
         href="https://vk.com/share.php?url=http%3A%2F%2Faelippe.kz&noparse=false" target="_blank">
        <i class="icon-vkontakte"></i> Поделиться</a>

      <a class="twitter-share-button btn btn-sm" target="_blank"
         href="https://twitter.com/intent/tweet?text=A'lippe.kz%20-%20%D0%9F%D0%B5%D1%80%D0%B5%D0%B2%D0%BE%D0%B4%D1%87%D0%B8%D0%BA%20%D0%BA%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D0%BA%D0%BE%D0%B3%D0%BE%20%D1%82%D0%B5%D0%BA%D1%81%D1%82%D0%B0%20%D1%81%20%D0%BA%D0%B8%D1%80%D0%B8%D0%BB%D0%BB%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B9%20%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D0%BA%D0%B8%20%D0%BD%D0%B0%20%D0%BB%D0%B0%D1%82%D0%B8%D0%BD%D0%B8%D1%86%D1%83">
        <i class="icon-twitter"></i> Tweet</a>
    </div>

  </div>


  <!--SECTION HELLO-->
  <section class="welcome-home block">
    <h1 translate>HOME.ABOUT_US</h1>
    <p translate>HOME.ABOUT_US_P_1</p>
    <p translate>HOME.ABOUT_US_P_2</p>
    <p translate>HOME.ABOUT_US_P_3</p>
    <p translate>HOME.ABOUT_US_P_4</p>

    <a href="mailto:poshta@aelippe.kz" class="btn button large"
       translate>HOME.CONTACT_US</a>
    <p><small style="margin-top: 10px; color: #292b2c; font-size: 16px;">poshta@aelippe.kz</small></p>

    <p><small>© 2017 aelippe.kz</small></p>
  </section>

</div>

<app-about [@slideInOut]="state" [state]="state" (toogleState)="toggleState()"></app-about>
